.msg__section {
  grid-column: 3;
  grid-row: 2;
  height: 100%;
  width: 100%;
  margin-left: 1.8rem;
}
@media (max-width: 768px) {
  .msg__section {
    display: none;
  }
}
.msg__section--header {
  border-bottom: 0.1rem solid grey;
  padding: 2rem 2.5rem;
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}
.msg__section--header-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.msg__section--header-icns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.msg__section--header-icns-icn {
  cursor: pointer;
}
.msg__section--header-icns-icn-search {
  height: 2rem;
  width: 2rem;
  transition: transform 0.3s ease-in;
}
.msg__section--header-icns-icn-search:hover {
  color: grey;
}
.msg__section--lobby {
  height: 85%;
  width: 100%;
  cursor: pointer;
  z-index: -200;
  overflow-y: scroll;
}
.msg__section--lobby::-webkit-scrollbar {
  display: none;
}
.msg__section--lobby-msgs {
  height: 100%;
}
.msg__section--lobby-msgs--msg {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding: 2.2rem 2.8rem;
  border-bottom: 0.1rem solid rgb(217.25, 217.25, 217.25);
  transition: all 0.5s ease-out;
}
.msg__section--lobby-msgs--msg:hover {
  transform: scale(1.02);
  background: #fff;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.msg__section--lobby-msgs--msg:hover .msg__section--lobby-msgs--msg-star-icn {
  fill: black;
}
.msg__section--lobby-msgs--msg-profile-photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
.msg__section--lobby-msgs--msg-star-icn {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: auto;
  margin-top: -2rem;
}
.msg__section--lobby-msgs--msg-block-username {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.msg__section--lobby-msgs--msg-block-outlook {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
  color: grey;
}
.msg__section--lobby-msgs--msg-block-date {
  text-align: end;
}

.hr-line {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(128, 128, 128, 0.22);
  margin: 1.6rem 0;
}
.hr-line--2, .hr-line--3 {
  background-color: #FFF;
}

.project__section {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  border-radius: 3rem 3rem 0 0;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
@media (max-width: 1150px) {
  .project__section {
    height: 100%;
  }
}
@media (min-width: 1150px) {
  .project__section {
    height: 100%;
  }
}
.project__section--project {
  padding: 3rem 3rem;
  padding-bottom: 0;
}
@media (max-width: 384px) {
  .project__section--project {
    padding: 2rem 1rem;
  }
}
.project__section--project-head {
  padding: 0 2rem;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__section--project-head :first-child {
  font-size: 2rem;
  font-weight: bold;
  color: #151522;
}
.project__section--project-head :last-child {
  font-size: 1.3rem;
  font-weight: bold;
  color: #151522;
}
.project__section--project-detail {
  padding: 0 2rem;
  margin-top: 3rem;
  display: flex;
  gap: 8.4rem;
  position: relative;
}
@media (max-width: 1152px) {
  .project__section--project-detail {
    gap: 2rem;
  }
}
@media (max-width: 560px) {
  .project__section--project-detail {
    gap: 1.4rem;
  }
}
.project__section--project-detail--item {
  position: relative;
}
.project__section--project-detail--item :first-child {
  font-size: 1.6rem;
  font-weight: bold;
}
@media (max-width: 560px1) {
  .project__section--project-detail--item :first-child {
    font-size: 1.4rem;
  }
}
.project__section--project-detail--item :last-child {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(125.45, 125.45, 125.45);
}
@media (max-width: 780px) {
  .project__section--project-detail--item :last-child {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  .project__section--project-detail--item :last-child {
    font-size: 1.2rem;
  }
}
.project__section--project-detail--item:not(:nth-child(4))::after {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  border: 0.2rem solid rgb(125.45, 125.45, 125.45);
  position: absolute;
  border-radius: 20%;
  top: 3rem;
  left: 10rem;
  transform: rotate(45deg);
}
@media (max-width: 1152px) {
  .project__section--project-detail--item:not(:nth-child(4))::after {
    visibility: hidden;
  }
}
.project__section--project-detail--icn {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
@media (max-width: 400px) {
  .project__section--project-detail--icn {
    gap: 0.5rem;
  }
}
.project__section--project-detail--icn-1 {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.project__section--project-detail--icn-more-menu {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
.project__section--project-progress {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 2.5rem;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-top: 3rem;
  align-items: start;
  padding-bottom: 100rem;
}
@media (min-width: 1024px) {
  .project__section--project-progress {
    height: 80vh;
    padding-bottom: 20rem;
  }
}
@media (max-width: 1024px) {
  .project__section--project-progress {
    height: 80vh;
    padding-bottom: 20rem;
  }
}
@media (max-width: 960px) {
  .project__section--project-progress {
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .project__section--project-progress {
    height: 100vh;
    padding-bottom: 30rem;
  }
}
@media (max-width: 750px), (max-width: 650px) {
  .project__section--project-progress {
    padding-bottom: 30rem;
  }
}
@media (max-width: 560px) {
  .project__section--project-progress {
    gap: 1.6rem;
  }
}
.project__section--project-progress::-webkit-scrollbar {
  display: none;
}
.project__section--project-progress-container {
  border-radius: 3rem;
  margin-bottom: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 25rem;
  height: 27.5rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
@media (max-width: 900px) {
  .project__section--project-progress-container {
    width: 27rem;
    margin-left: 1.6rem;
  }
}
@media (max-width: 580px) {
  .project__section--project-progress-container {
    width: 27rem;
  }
}
.project__section--project-progress-container::before {
  content: "";
  height: 0.3rem;
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translateX(-48%);
  bottom: -2rem;
  border-radius: 50rem;
  opacity: 0;
  visibility: 0;
  transition: all 0.3s;
}
.project__section--project-progress-container::after {
  content: "";
  height: 0.3rem;
  width: 55%;
  position: absolute;
  left: 50%;
  transform: translateX(-48%);
  bottom: -3rem;
  border-radius: 50rem;
  opacity: 0;
  visibility: 0;
  transition: all 0.3s;
}
.project__section--project-progress-container:hover:before, .project__section--project-progress-container:hover:after {
  opacity: 1;
  visibility: 1;
  background-color: rgb(127.5, 255, 255);
}
.project__section--project-progress-container--2 {
  background-color: #FDE5CC;
}
.project__section--project-progress-container--2:hover:before, .project__section--project-progress-container--2:hover::after {
  background-color: #FDE5CC;
}
.project__section--project-progress-container--3 {
  background-color: #ccffff;
}
.project__section--project-progress-container--3:hover:before, .project__section--project-progress-container--3:hover::after {
  background-color: #ccffff;
}
.project__section--project-progress-container--4 {
  background-color: rgb(255, 217.8, 204);
}
.project__section--project-progress-container--4:hover:before, .project__section--project-progress-container--4:hover::after {
  background-color: rgb(255, 217.8, 204);
}
.project__section--project-progress-head {
  font-size: 1.3rem;
  color: rgb(125.45, 125.45, 125.45);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.4rem;
}
@media (max-width: 900px) {
  .project__section--project-progress-head {
    font-size: 1.4rem;
  }
}
.project__section--project-progress-head-menu {
  cursor: pointer;
  transition: all 0.3s;
}
.project__section--project-progress-head-menu-dots {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #151522;
}
.project__section--project-progress-head-menu-dots:first-child {
  margin-bottom: 0.2rem;
}
.project__section--project-progress-head-menu:hover {
  transform: scale(1.2);
}
.project__section--project-progress-center {
  margin-top: 3.2rem;
  text-align: center;
}
@media (max-width: 960px) {
  .project__section--project-progress-center {
    margin-top: 2.5rem;
  }
}
@media (max-width: 900px) {
  .project__section--project-progress-center {
    margin-top: 2.6rem;
  }
}
@media (max-width: 400px) {
  .project__section--project-progress-center {
    margin-top: 1.6rem;
  }
}
.project__section--project-progress-center-main {
  font-size: 1.6rem;
  font-weight: bold;
}
.project__section--project-progress-center-sub {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(125.45, 125.45, 125.45);
}
.project__section--project-progress-bar {
  margin-top: 2rem;
  width: 100%;
  padding: 0 1.4rem;
}
.project__section--project-progress-bar--title {
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .project__section--project-progress-bar {
    font-size: 1.7rem;
  }
}
@media (max-width: 400px) {
  .project__section--project-progress-bar {
    font-size: 1.4rem;
  }
}
.project__section--project-progress-bar--bar {
  margin: 0.7rem 0;
  width: 100%;
  height: 0.8rem;
  border-radius: 8rem;
  background-color: rgba(128, 128, 128, 0.241);
  position: relative;
}
.project__section--project-progress-bar--bar--2, .project__section--project-progress-bar--bar--3 {
  background-color: #FFF;
}
.project__section--project-progress-bar--bar::after {
  content: "";
  height: 0.8rem;
  width: 90%;
  border-radius: 8rem;
  position: absolute;
  left: 0;
  background-color: cyan;
}
.project__section--project-progress-bar--bar--2::after {
  width: 30%;
  background-color: orangered;
}
.project__section--project-progress-bar--bar--3::after {
  width: 50%;
  background-color: #00e600;
}
.project__section--project-progress-bar--bar--4::after {
  width: 20%;
  background-color: rgb(255, 109, 158.7727272727);
}
.project__section--project-progress-bar--percent {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: end;
}
@media (max-width: 1000px) {
  .project__section--project-progress-bar--percent {
    font-size: 1.5rem;
  }
}
.project__section--project-progress-users {
  padding: 0 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__section--project-progress-users-user-icn {
  height: 2.4rem;
  width: 2.4rem;
  fill: cyan;
  transition: all 0.5s;
  cursor: pointer;
}
.project__section--project-progress-users-user-icn--2 {
  fill: orangered;
}
.project__section--project-progress-users-user-icn--3 {
  fill: #00e600;
}
.project__section--project-progress-users-user-icn--4 {
  fill: rgb(255, 109, 158.7727272727);
}
.project__section--project-progress-users-user-icn:hover {
  fill: rgba(13, 28, 28, 0.573);
  transform: rotate(135deg);
  backface-visibility: hidden;
}
.project__section--project-progress-users-user-imgs-img {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: 0.2rem solid #FFF;
}
.project__section--project-progress-users-user-imgs-img:nth-child(2) {
  margin-left: -1rem;
}
.project__section--project-progress-users-days-left {
  background-color: #B4F1CE;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 3.2rem;
  font-weight: 600;
  color: rgb(10.0674157303, 53.9325842697, 28.7640449438);
  width: 45%;
  text-align: center;
}
@media (max-width: 960px) {
  .project__section--project-progress-users-days-left {
    width: 48%;
    font-size: 1.2rem;
    padding: 1rem;
  }
}
@media (max-width: 900px) {
  .project__section--project-progress-users-days-left {
    width: 49%;
    font-size: 1.2rem;
    padding: 1rem;
  }
}
@media (max-width: 400px) {
  .project__section--project-progress-users-days-left {
    font-size: 1.2rem;
  }
}
.project__section--project-progress-users-days-left--2 {
  background-color: #FFF;
  color: orangered;
}
.project__section--project-progress-users-days-left--3 {
  background-color: #FFF;
  color: #00e600;
}
.project__section--project-progress-users-days-left--4 {
  background-color: #FFF;
  color: rgb(255, 109, 158.7727272727);
}

/* Top header */
.logo {
  width: 6rem;
  height: 8rem;
  padding: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo {
    width: 3rem;
    height: 5rem;
    padding: 0;
  }
}

.vr-break {
  height: 3.2rem;
  width: 0.1rem;
  background-color: grey;
  margin: 0 1rem;
}

.nav__header {
  grid-column: 1/4;
  height: 100%;
}
.nav__header--search {
  display: flex;
}
.nav__header--search-container {
  display: flex;
  border-radius: 2.5rem;
  overflow: hidden;
  width: 25vw;
  position: relative;
}
@media (max-width: 768px) {
  .nav__header--search-container {
    width: 45vw;
  }
}
@media (max-width: 668px) {
  .nav__header--search-container {
    width: 30vw;
  }
}
@media (max-width: 468px) {
  .nav__header--search-container {
    width: 25vw;
  }
}
.nav__header--search-input {
  flex-shrink: 1;
  border: none;
  padding: 1rem 3.8rem;
  outline: none;
  flex: 1;
  border-radius: 2.5rem 0 0 2.5rem;
  font-size: 1.6rem;
}
.nav__header--search-symbol-icn {
  height: 2rem;
  width: 2rem;
  position: absolute;
  stroke: grey;
  left: 1rem;
  top: 0.8rem;
}
@media (max-idth: 668px) {
  .nav__header--search-symbol-icn {
    height: 1.6rem;
    width: 1.6rem;
  }
}
.nav__header--search-lbl {
  font-size: 0.5rem;
  z-index: 10;
  position: relative;
}
.nav__header--profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav__header--profile-photo {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .nav__header--profile-photo {
    height: 2.8rem;
    width: 2.8rem;
  }
}
.nav__header--profile-username {
  font-size: 1.4rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .nav__header--profile-username {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .nav__header--profile-username {
    font-size: 1rem;
  }
}
.nav__header--top-nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__header--top-mid {
  display: flex;
  gap: 8rem;
  align-items: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-left: 4rem;
}
@media (max-width: 768px) {
  .nav__header--top-mid {
    margin-left: 4.5rem;
    gap: 4rem;
    font-size: 2rem;
  }
}
@media (max-width: 668px) {
  .nav__header--top-mid {
    margin-left: 4rem;
    gap: 3rem;
  }
}
@media (max-width: 388px) {
  .nav__header--top-mid {
    margin-left: 3rem;
    gap: 2rem;
  }
}
.nav__header--top-left {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav__header--top-left--plus-icn {
  height: 3rem;
  width: 2.4rem;
  transition: all 0.6s;
  cursor: pointer;
}
.nav__header--top-left--plus-icn:hover {
  fill: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px1) {
  .nav__header--top-left--plus-icn {
    height: 2.4rem;
    width: 2.4rem;
  }
}
@media (max-width: 480px) {
  .nav__header--top-left--plus-icn {
    height: 2rem;
    width: 2rem;
  }
}
.nav__header--top-left--bell-icn {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.5s;
}
@media (max-width: 480px) {
  .nav__header--top-left--bell-icn {
    height: 2rem;
    width: 2rem;
    margin-left: 0.1rem;
  }
}
.nav__header--top-left--bell-icn:hover {
  color: grey;
}
.nav__header--top-left--icn {
  position: relative;
}
.nav__header--top-left--icn::after {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  background-color: rgb(255, 10.2, 10.2);
  position: absolute;
  top: -1.3rem;
  right: 0.3rem;
  border-radius: 50%;
}

.side__nav {
  grid-row: 2/3;
}
.side__nav--logos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  backface-visibility: hidden;
}
.side__nav--logos-logo {
  cursor: pointer;
  height: 2.4rem;
  width: 2.4rem;
}
.side__nav--logos-list {
  transition: background 0.3s;
  border-radius: 50%;
  transition: all 0.3s;
  backface-visibility: hidden;
  position: relative;
}
.side__nav--logos-list::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  transition: all 0.3s;
  align-items: center;
}
.side__nav--logos-list:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -57%) scale(1.9);
}
.side__nav--logos-list:hover {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
}
@media (max-width: 1280px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 41.8%;
  }
}

img {
  cursor: pointer;
  object-fit: cover;
}

.base-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(224.3966101695, 219.4338983051, 241.7661016949);
  z-index: -1;
}

.main-container {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 2rem;
  width: 90vw;
  height: 90vh;
  background-color: rgb(244.4662921348, 253.0337078652, 248.1179775281);
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 6rem 7fr 3fr;
  grid-template-rows: 6.4rem 8fr;
  overflow-y: hidden;
}
@media (max-width: 1152px) {
  .main-container {
    grid-template-columns: 6.4rem 6fr 4fr;
    grid-template-rows: 5.4rem 8fr;
  }
}
@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 2rem 1fr;
    width: 100vw;
    height: 100svh;
    border-radius: 0;
  }
}
@media (max-width: 352px) {
  .main-container {
    grid-template-columns: 1.6rem 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
