* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Outfit", sans-serif;
    font-size: 62.5%;

    @media (max-width: 1280px) {
        font-size: 56.25%;
    }

    @media (max-width: 1024px) {
        font-size: 48%;
    }

    @media (max-width: 560px) {
        font-size: 41.8%;
    }
}

img {
    cursor: pointer;
    object-fit: cover;
}

.base-container {
    width: 100vw;
    height: 100vh;
    background-color:lighten(#DAD4EF, 2%);
    z-index: -1;
}

.main-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem 2rem;
    width: 90vw;
    height: 90vh;
    background-color: lighten($color: $color-box-light-green, $amount: 15%);
    border-radius: 3rem;
    
    display: grid;
    grid-template-columns: 6rem 7fr 3fr;
    grid-template-rows: 6.4rem 8fr;
    overflow-y: hidden; 
    
    @media (max-width: 1152px) {
        grid-template-columns: 6.4rem 6fr 4fr;
        grid-template-rows: 5.4rem 8fr;
    }

    @media (max-width: 768px) {
        grid-template-columns: 2rem 1fr;
        width: 100vw;
        height: 100svh;
        border-radius: 0;
    }
    
    @media (max-width: 352px) {
        grid-template-columns: 1.6rem 1fr;
    }
}
