/* Top header */

.logo {
    width: 6rem;
    height: 8rem;
    padding: 1rem;
    cursor: pointer;
    
    @media (max-width: 768px) {
        width: 3rem;
        height: 5rem;
        padding: 0;
    }
}

.vr-break {
    height: 3.2rem;
    width: 0.1rem;
    background-color: grey;
    margin: 0 1rem;
}

.nav__header {
    grid-column: 1 / 4;
    height: 100%;
    position: relative;

    &--search {
        display: flex;

        &-container {
            display: flex;
            border-radius: 2.5rem;
            overflow: hidden;
            width: 25vw;
            position: relative;
            
            @media (max-width: 768px) {
                width: 45vw;
            }

            @media (max-width: 668px) {
                width: 30vw;
            }

            @media (max-width: 468px) {
                width: 25vw;
            }
        }
        
        &-input {
            flex-shrink: 1;
            border: none;
            padding: 1rem 3.8rem;
            outline: none;
            flex: 1;
            border-radius: 2.5rem 0 0 2.5rem;
            font-size: 1.6rem;
        }

        &-symbol {

            &-icn {
                height: 2rem;
                width: 2rem;
                position: absolute;
                stroke: grey;
                left: 1rem;
                top: .8rem;
                
                @media (max-idth: 668px) {
                    height: 1.6rem;
                    width: 1.6rem;
                }
            }
        }

        &-lbl {
            font-size: .5rem;
            z-index: 10;
            position: relative;
        }
    }

    &--profile {
        display: flex;
        align-items: center;
        gap: .5rem;

        &-photo {
            height: 3.2rem;
            width: 3.2rem;
            border-radius: 50%;

            @media (max-width: 768px) {
                height: 2.8rem;
                width: 2.8rem;
            }
        }
        
        &-username {
            font-size: 1.4rem;
            font-weight: bold;
            
            @media (max-width: 768px) {
                font-size: 1.2rem;
            }

            @media (max-width: 480px) {
                font-size: 1rem;
            }
        }
    }

    &--top {

        &-nav {
            display: flex;
            align-items: center;
            height: 100%;
        }
        
        &-mid {
            display: flex;
            gap: 8rem;
            align-items: center;
            font-size: 2.8rem;
            font-weight: bold;
            margin-left: 4rem;
            
            @media (max-width: 768px) {
                margin-left: 4.5rem;
                gap: 4rem;
                font-size: 2rem;
            }

            @media (max-width: 668px) {
                margin-left: 4rem;
                gap: 3rem;
            }

            @media (max-width: 388px) {
                margin-left: 3rem;
                gap: 2rem;
            }
        }
        
        &-left {
            margin-left: auto;
            display: flex;
            align-items: center;

            &--plus-icn {
                height: 3rem;
                width: 2.4rem;
                transition: all .6s;
                cursor: pointer;

                &:hover {
                    fill: rgba($color: #000000, $alpha: .7);
                }

                @media (max-width: 768px1) {
                    height: 2.4rem;
                    width: 2.4rem;
                }

                @media (max-width: 480px) {
                    height: 2rem;
                    width: 2rem;
                }
            }           
            
            &--bell-icn {
                height: 2.4rem;
                width: 2.4rem;
                margin-left: 1rem;
                cursor: pointer;
                transition: color .5s;
                
                @media (max-width: 480px) {
                    height: 2rem;
                    width: 2rem;
                    margin-left: .1rem;
                }
                
                &:hover {
                    color: $color-grey;
                }
            }

            &--icn {
                position: relative;
            }
            
            &--icn::after {
                content: "";
                height: .7rem;
                width: .7rem;
                background-color: lighten($color: red, $amount: 2%);
                position: absolute;
                top: -1.3rem;
                right: .3rem;
                border-radius: 50%;
            }
        }
    }
}

.side__nav {
    grid-row: 2 / 3;

    &--logos {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        backface-visibility: hidden;

        &-logo {
            cursor: pointer;
            height: 2.4rem;
            width: 2.4rem;
        }
        
        &-list {
            transition: background .3s;
            border-radius: 50%;
            transition: all .3s;
            backface-visibility: hidden;
            
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                background-color: #000;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -57%);   
                opacity: 0;
                visibility: hidden;
                z-index: -10;
                transition: all .3s;
                align-items: center;
            }
            
            &:hover::before {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, -57%) scale(1.9);
            }
            
            &:hover {
                color: #fff;
            }
        }        
    }

}