.hr-line {
    width: 100%;
    height: .1rem;
    background-color: rgba(128, 128, 128, 0.22);
    margin: 1.6rem 0;

    &--2, &--3 {
        background-color: $color-white;
    }
}

.project__section {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    border-radius: 3rem 3rem 0 0;
    margin-left: 1.5rem;
    margin-top: 1rem;
    
    @media (max-width: 1150px) {
        height: 100%;  
    }

    @media (min-width: 1150px) {
        height: 100%;  
    }

    &--project {
        padding: 3rem 3rem;
        padding-bottom: 0;
        
        @media (max-width: 384px) {
            padding: 2rem 1rem;
        }
        
        &-head {
            padding: 0 2rem;
            height: 5%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            :first-child {
                font-size: 2rem;
                font-weight: bold;
                color: $color-black;
            }
            
            :last-child {
                font-size: 1.3rem;
                font-weight: bold;
                color: $color-black;
            }
        }

        &-detail {
            padding: 0 2rem;
            margin-top: 3rem;
            display: flex;
            gap: 8.4rem;
            position: relative;
            
            @media (max-width: 1152px) {
                gap: 2rem;
            }
            
            @media (max-width: 560px) {
                gap: 1.4rem;
            }
            
            &--item {

                position: relative;

                :first-child {
                    font-size: 1.6rem;
                    font-weight: bold;
                    
                    @media (max-width: 560px1) {
                        font-size: 1.4rem;
                    }   
                }
                
                :last-child {
                    margin-top: .2rem;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: $color-light-grey;
                    
                    @media (max-width: 780px) {
                        font-size: 1.1rem;
                    }   

                    @media (max-width: 600px) {
                        font-size: 1.2rem;
                    }   

                }

                &:not(:nth-child(4)) {
                    &::after {
                        content: "";
                        height: .2rem;
                        width: .2rem;
                        border: 0.2rem solid $color-light-grey;
                        position: absolute;
                        border-radius: 20%;
                        top: 3rem;
                        left: 10rem;
                        transform: rotate(45deg);
                        
                        @media (max-width: 1152px) {
                            visibility: hidden;
                        }
                    }

                }
            }

            &--icn {
                display: flex;
                gap: 1.5rem;
                margin-left: auto;
                align-items: center;
                justify-content: center;
                
                @media (max-width: 400px) {
                    gap: .5rem;
                }   

                // @media (max-width: 400px) {
                //     flex-direction: column;
                // }   
                
                &-1 {
                    cursor: pointer;
                    height: 2rem;
                    width: 2rem;
                    
                    // @media (max-width: 400px) {
                    //     height: 1.6rem;
                    //     width: 1.6rem;
                    // }   
                }
                
                &-more-menu {
                    width:1.6rem;
                    height: 1.6rem;
                    cursor: pointer;
                    
                    // @media (max-width: 400px) {
                    //     margin-top: -1rem;
                    //     height: 1.3rem;
                    //     width: 1.3rem;
                    // }   
                }
            }
        }

        &-progress {
            height:100vh;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
            gap: 2.5rem;
            justify-content: space-evenly;
            margin-top: 1rem;
            padding-top: 3rem;
            align-items: start;
            padding-bottom: 100rem;
               
            @media (min-width: 1024px) {
                height: 80vh;  
                padding-bottom: 20rem;
            }

            @media (max-width: 1024px) {
                height: 80vh;  
                padding-bottom: 20rem;
            }

            @media (max-width: 960px) {
                gap: 2rem;
            }
            
            @media (max-width: 900px) {
                height: 100vh;  
                padding-bottom: 30rem;
            }

            @media (max-width: 750px), (max-width: 650px) {
                padding-bottom: 30rem;
            }           

            
            @media (max-width: 560px) {
                gap: 1.6rem;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            &-container {
                border-radius: 3rem;
                margin-bottom: 2.5rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                width: 25rem;
                height: 27.5rem;
                margin-left: 1rem;
                cursor: pointer;
                transition: all .3s;
                position: relative;
                
                @media (max-width: 900px) {
                    width: 27rem;
                    margin-left: 1.6rem;
                }
                
                @media (max-width: 580px) {
                    width: 27rem;
                }

                // @media (max-width: 400px) {
                //     width: 27rem;
                //     height: 30rem;
                // }
                
                &::before {
                    content: "";
                    height: .3rem;
                    width: 75%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-48%);
                    bottom: -2rem;
                    border-radius: 50rem;
                    opacity: 0;
                    visibility: 0;
                    transition: all .3s;
                }

                &::after {
                    content: "";
                    height: .3rem;
                    width: 55%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-48%);
                    bottom: -3rem;
                    border-radius: 50rem;
                    opacity: 0;
                    visibility: 0;
                    transition: all .3s;
                }
                
                &:hover:before, &:hover:after {
                    opacity: 1;
                    visibility: 1;
                    background-color: lighten($color: cyan, $amount: 25%);   
                }

                &--2 {
                    background-color: $color-box-light-pink;
    
                    &:hover:before, &:hover::after {
                        background-color: $color-box-light-pink;
                    }
                }
                
                &--3 {
                    background-color: $color-box-cyan-light;
                    
                    &:hover:before, &:hover::after {
                        background-color: $color-box-cyan-light;
                    }
                }
                
                &--4 {
                    background-color: $color-box-orange-light;

                    &:hover:before, &:hover::after {
                        background-color: $color-box-orange-light;
                    }
                }

            }

            &-head {
                font-size: 1.3rem;
                color: $color-light-grey;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                padding: 1.6rem 1.4rem;

                @media (max-width: 900px) {
                    font-size: 1.4rem;
                }
                
                &-menu {
                    cursor: pointer;
                    transition: all .3s;

                    &-dots {
                        height: .5rem;
                        width: .5rem;
                        border-radius: 50%;
                        background-color: $color-black;
                        
                        &:first-child {
                            margin-bottom: .2rem;
                        }
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            &-center {
                margin-top: 3.2rem;
                text-align: center;
                
                @media (max-width: 960px) {
                    margin-top: 2.5rem;
                }
                
                @media (max-width: 900px) {
                    margin-top: 2.6rem;
                }

                @media (max-width: 400px) {
                    margin-top: 1.6rem;
                }

                &-main {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
                
                &-sub {
                    margin-top: .5rem;
                    font-size: 1.4rem;
                    font-weight: bold;

                    color: $color-light-grey;
                    // @media (max-width: 960px) {
                    //     font-size: 1.3rem;
                    // }

                    // @media (max-width: 900px) {
                    //     font-size: 1.5rem;
                    // }
                    
                    // @media (max-width: 400px) {
                    //     font-size: 1.4rem;
                    // }
                }
            }

            &-bar {
                margin-top: 2rem;
                width: 100%;
                padding: 0 1.4rem;
            
                &--title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                
                @media (max-width: 900px) {
                    font-size: 1.7rem;
                }

                @media (max-width: 400px) {
                    font-size: 1.4rem;
                }

                &--bar {
                    margin: .7rem 0;
                    width: 100%;
                    height: .8rem;
                    border-radius: 8rem;
                    background-color: $color-box-grey-bg-light;
                    position: relative;
                    
                    &--2, &--3 {
                        background-color: $color-white;
                    }
                    
                    &::after {
                        content: "";
                        height: .8rem;
                        width: 90%;
                        border-radius: 8rem;
                        position: absolute;
                        left: 0;
                        background-color: $color-box-cyan;
                    }

                    &--2::after {
                        width: 30%;
                        background-color: $color-box-orange;

                    }

                    &--3::after {
                        width: 50%;
                        background-color: $color-box-green-light;
                    }

                    &--4::after {
                        width: 20%;
                        background-color: darken($color-box-dark-pink, 20%);
                    }
                }

                &--percent {
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: end;
                    
                    @media (max-width: 1000px) {
                        font-size: 1.5rem;
                    }
                    
                }
            }

            &-users {
                padding: 0 1.4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-user {
    
                    &-icn {
                        height: 2.4rem;
                        width: 2.4rem;
                        fill: $color-box-cyan;
                        transition: all .5s;
                        cursor: pointer;

                        &--2 {
                            fill: $color-box-orange;
                        }

                        &--3 {
                            fill: $color-box-green-light;
                        }

                        &--4 {
                            fill: darken($color-box-dark-pink, 20%);
                        }
                        
                        &:hover {
                            fill: rgba(13, 28, 28, 0.573);
                            transform: rotate(135deg);
                            backface-visibility: hidden;
                        }
                    }

                    &-imgs-img {
                        height: 2.4rem;
                        width: 2.4rem;
                        border-radius: 50%;
                        border: 0.2rem solid $color-white;

                        &:nth-child(2) {
                            margin-left: -1rem;
                        }
                    }
                }

                &-days-left {
                    // display: inline-block;
                    background-color: $color-box-light-green;
                    padding: 1rem 1.2rem;
                    font-size: 1.2rem;
                    border-radius: 3.2rem;
                    font-weight: 600;
                    color: darken($color-box-light-green, 70%);;
                    
                    width: 45%;
                    text-align: center;
                    
                    @media (max-width: 960px) {
                        width: 48%;
                        font-size: 1.2rem;
                        padding: 1rem;
                    }
                    
                    @media (max-width: 900px) {
                        width: 49%;
                        font-size: 1.2rem;
                        padding: 1rem;
                    }
                    
                    @media (max-width: 400px) {
                        font-size: 1.2rem;
                    }
    
                    &--2 {
                        background-color: $color-white;
                        color: orangered;
                    }
                    
                    &--3 {
                        background-color: $color-white;
                        color: $color-box-green-light;
                    }

                    &--4 {
                        background-color: $color-white;
                        color: darken($color-box-dark-pink, 20%);
                    }
                }
            }
            
        }
    }
}