$color-black: #151522;

$color-white: #FFF;

$color-grey: grey;

$color-box-grey-light: #E9E7FD;
$color-box-grey-dark: #F3F6FD;

$color-box-light-green: #B4F1CE;
$color-box-light-pink: #FDE5CC;
$color-box-dark-pink: #FFD3E2;
